body{
	background: grey;
}
img{
width:100%;
  margin:5px 0;
  border-radius:2px;
  box-shadow:0px 4px 0px #f1f1f1;
}
 .galeria{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap:10px;
}
.cuadros{
display: grid;
grid-gap: 2px;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 50px auto 50px;
  grid-template-areas:
   "n n n n n n n n n n n n"
    "p p p p p p m m m m m m"
    "f f f f f f f f f f f f";
}
h1{
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
p{
	
	font-family: 'Roboto', sans-serif;
}

.navdar {
  background:#2ec4b6;
  grid-area: n;
}

.paraguas {
  background:#c189b5;
  grid-area: p;
}

.mochila {
  background: #ff1654;
  grid-area: m;
}

.footer {
  background: #dbb736;
  grid-area: f;
}

@media screen and (max-width: 920px) {  
    .cuadros {
    grid-template-rows: auto;
    grid-template-areas:  
    "n n n n n n n n n n n n"
    "p p p p p p p p p p p p"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f";}  
}


